.corpo {
    padding-top: 2rem;
}

.block-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#loader-img {
    position: absolute;
    top: 127px;
    left: 120px;
}

.opacity-bg {
    opacity: .4;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pre-load {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
