<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring MVC e Ajax</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/webjars/datatables/1.10.21/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css"/>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExample08" aria-controls="navbarsExample08"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/promocao/add}">Adicionar Promoção</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/promocao/listar}">Promoções</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/promocao/tabela}">Tabela de Promoções</a></li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div layout:fragment="corpo">
        <div>conteudo principal das páginas</div>
    </div>
</main>

<!-- JS -->
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/1.11.1/dist/popper.min.js"></script>
<script src="/webjars/jquery-mask-plugin/1.14.13/dist/jquery.mask.min.js"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<script src="/webjars/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="/webjars/momentjs/2.24.0/min/moment-with-locales.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>

<script type='text/javascript' th:src=@{/dwr/engine.js}></script>
<script type='text/javascript' th:src=@{/dwr/interface/DWRAlertaPromocoes.js}></script>

<!-- 	MEUS JS -->
<script th:replace=":: js"></script>
</body>
</html>
